.offcanvas {
  color: rgb(248, 249, 250) !important;
  text-shadow: rgb(133, 27, 237) 2px 2px;
  background-color: rgb(41, 41, 41) !important;
}

.filter-btn {
  background-color: rgb(139, 67, 212);
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
}

.filter-btn:hover {
  background-color: rgb(150, 90, 212);
  border: 1px solid white;
}
