.home-link {
  background-color: rgb(240, 240, 240);
  border: .2rem solid #851bed;
  color: rgb(133, 27, 237)
}

.home-link:hover {
  animation: colorchange .25s forwards;
}

.home-link:hover img {
  animation: fastspin .25s forwards;
}

@keyframes fastspin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes colorchange {
  100%{
    background-color: #888b8f;
    color: #f8f9fa;
  }
}