.fade-in-above > * {
      animation: fadeinabove .25s linear forwards;
}


@keyframes fadeinabove {
  0% {
    opacity: 0.25;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}



thead th:first-child {
  border-top-left-radius: 9px;
 }
 
 thead th:last-child {
  border-top-right-radius: 9px;
 }
 
 tbody tr:last-child :first-child {
  border-bottom-left-radius: 9px;
 }
 
 tbody tr:last-child :last-child {
  border-bottom-right-radius: 9px;
 }