.type-matchup td span {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.type-matchup tr * {
  padding: 0.25rem 0.25rem;
  border-bottom: 0px solid;
}
.type-matchup td {
  display: flex;
  flex-wrap: wrap;
  max-width: 24vw;
  min-height: 50px;
}

.type-matchup tr {
  border-top: 1px solid #dee2e6;
}

.type-matchup th {
  vertical-align: middle;
}

.nav-item {
  background-color: #212529;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-item .nav-link.active {
  background-color: #323539;
}



a {
  color: #f8f9fa;
  text-shadow: 2px 2px #851bed;
  text-decoration: none;
}

a:hover {
  color: #f8f9fa;
}
.stat-name:hover {
  text-decoration: underline;
}

.fade-in-above > * {
  animation: fadeinabove 0.3s linear forwards;
}

@keyframes fadeinabove {
  0% {
    opacity: 0.25;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.stat-visuals {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 100%;
  height: 100%;
  background-color: rgb(133, 27, 237);
  text-align: start;
  padding-left: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  animation: progressBar 1s ease-in-out;
}

@keyframes progressBar {
  0% {
    width: 10%;
  }
}

th {
  padding-left: 0.25rem;
}

.move-thead th:first-child {
  border-top-left-radius: 0.5rem;
}

.move-thead th:last-child {
  border-top-right-radius: 0.5rem;
}

/* .move-tbody tr:first-child :last-child {
  border-top-right-radius: 0.5rem;
} */

.move-tbody tr:last-child :first-child {
  border-bottom-left-radius: 0.5rem;
}

.move-tbody tr:last-child :last-child {
  border-bottom-right-radius: 0.5rem;
}

.next-sprite:hover img {
  animation: sprite-animation2 0.3s steps(1) infinite;
  z-index: -1;
}

@keyframes sprite-animation {
  50% {
    transform: translateY(-15px);
  }
}
