body {
  font-family: 'Lexend Deca', sans-serif;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
  background-position: center;
  /* background-color: rgb(133, 27, 237); */
  background-color: rgb(41, 41, 41);
}

/* doing this makes it look better on iOS safari for some reason */
/* body::before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  position: fixed;
  background-image: url(./images/background.png);
  background-size: 100% 100%;
  z-index: -1;
} */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
