.img-container {
  height: 350px;
  width: 350px;
}

.fade-in-left {
  animation: fadeinleft 0.5s linear forwards;
  max-width: 100%;
  max-height: 100%;
}

@keyframes fadeinleft {
  0% {
    opacity: 0.25;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fade-in-right {
  max-width: 100%;
  max-height: 100%;
  animation: fadeinright 0.5s linear forwards;
}

@keyframes fadeinright {
  0% {
    opacity: 0.25;
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hover-right:hover {
  animation-name: fadeinright, hoveron;
  animation-duration: 0.1s;
}

.hover-left:hover {
  animation-name: fadeinleft, hoveron;
  animation-duration: 0.1s;
}

@keyframes hoveron {
  100% {
    transform: scale(1.15, 1.15);
  }
}
